<div class = "cols-sm-12 nav">
    <div class = "col-sm-6">
        <img class = "logo" src = "/logo.png">
    </div>
    
    <div class = "col-sm-6"> 
        <ul>
            <li>Home</li>
            <li>What's LikeLion</li>
            <li>Sessions</li>
            <li>Sites</li>
            <li>QnA</li>
        </ul>
    </div>
</div>

<div class = "content col-sm-12">
    
    <div class = "col-sm-6 content-text">
        <div class = "col-sm-12">
            <p class ="title">멋쟁이 사자처럼@HUFS<br>
            since2016</p>
        </div>
        
        <div>
            <p class = "font-yellow">What's likelion</p>
            <p class = "font-blue">HUFSLION</p>
        </div>
    </div>

    <img class = "col-sm-6 content" src = "/lion.jpg">

</div>

