<div class="site-wrapper">
  <!-- 커버1 배너와 외대멋사 커버로 이동하는 인트로 커버입니다. -->
  <div class="container-fluid row nav">
    <div class = "col-md-7 index-text"></div>
      <div class="writing">
        <svg viewBox="0 0 1418 116" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		      <g stroke="none" fill="none" fill-rule="evenodd" fill-opacity="0">
			     <text stroke="#DAA520" fill="#645F5A" font-weight="normal" font-family="PermanentMarker-Regular, Permanent Marker" font-size="120">
			      <tspan x="3" y="109"><!--
			    --><tspan>L</tspan><!--
			  	--><tspan>i</tspan><!--
			  	--><tspan>k</tspan><!--
			  	--><tspan>e</tspan><!--
			  	--><tspan>l</tspan><!--
			  	--><tspan>i</tspan><!--
			 		--><tspan>o</tspan><!--
			 		--><tspan>n</tspan><!--
          --></tspan>
		      </text>
          </g>
        </svg>
      </div>

    <div class ="col-md-5">
      <div class="index-top">
	      <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
		    <circle id="c1st" cx="170" cy="170" r="140" stroke="#D2B48C"/>
		    <circle id="c2nd" cx="170" cy="170" r="125" stroke="#DAA520"/>
		    <circle id="c3rd" cx="170" cy="170" r="110" stroke="#FFFAFA"/>
		    <span><h1>HUFSLION<br>Hufs x Likelion</h1></span>
	      </svg>
      </div>
      <!--<div class = "index-top"> xml서클 테스트용 주석처리 (원코드: 자룡형)-->
      <!--  <img src ="/circle.PNG" style = "height:650px;">-->
      <!--</div>-->
      
      <div class = "index-bottom">
        <ul class = "index-ul">
          <a href = "#"><li class = "index-li" style = "color:#ffd966;">WHO ARE WE</li></a>
          <a href = "#"><li class = "index-li" style = "color:#a9d18e;">HUFS LION</li></a>
        </ul>
      </div>
    </div>
  </div>
  <!--/커버1-->
  <!--커버2 간단한 멋사 소개-->
  
  
  <div class="container-fluid introduce stars">
    <div class="twinkling">
      <h2 class="likelion-intro">LIKELION </h2>
      <div class="intro-top" > 
        <ul class = "intro-ul">
          <br>130 COLLEGES<br>
          1,916 STUDENTS<br>
          MAKE 579 SERVICES<br>
        </ul>
      </div>
    
      <div class="container-fluid">
        <div class="container-fluid col-md-12 row ">
            <div class = "col-md-2">
              <img class="photo0" src = "/likelion_logo2.jpg">
            </div>
            <div class = "col-md-8">
              <img class = "photo4" src = "/hyl.png">
            </div>
            <div class = "col-md-2">
              <img class="photo0" src = "/hufs_lion_logo1.png">
              <ul class = "intro-ul2">
              <br>ANY MAJOR<br>
              INTERESTED IN PROGRAMMING<br>
              IN HUFS<br>
              <h2 class = "hufslion-intro"><br>HUFSLION</h2>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--/커버2-->
  
  <!--커버3 멋사6기 로드맵-->
  <div class="container-fluid roadmap stars">
    <div class = "twinkling">
      <div class = "hei row">
        <div class = "col-md-7 lineartext2 ">
          <h1>SESSION - MONDAY & THURSDAY PM 18:40<br>
              O.T - 3/17<br>
              CODING DAY - 4/14<br>
              NEWBIETHON - 5/5~6<br>
              <p style = "color:#ffd966;">1ST SEMESTER</p>
          </h1>
        </div>
        
        <div class = "col-md-5 lineartext4 ">
          <h1 style = "color:#ffd966;">2TH SEMESTER</h1>
        </div>

        
      </div>
      
      
      
      <div class = "row hei">
        <div class = "rec col-md-1 whitelinereven test1-1">
        </div>
      
        <div class = "rec col-md-3 whitelinerodd test2-2">
          
        </div>
      
        <div class = "rec col-md-2 whitelinereven test1-3">
          
        </div>
        
        <div class = "rec col-md-4 whitelinerodd test2-4">
          
        </div>
        
        <div class = "rec col-md-2 whitelinereven test1-5">
          
        </div>
      </div>   
      
      <div class = "row hei2">
        <div class = "col-md-4 lineartext1 ">
          <h1 style = "color:#ffd966;">HUFSLION 6TH 3.16ING</h1>
        </div>
\
        <div class = "col-md-6 lineartext3" style="padding-right: 400px;">
          <h1><p style = "color:#ffd966;">SUMMER VACTIO</p>
              SESSION - SATURDAY PM 7<br>
              IDEATHON<br>
              HACKERTHON
          </h1>
        </div>

        <div class = "col-md-1 lineartext5">
          <h1 style = "color:#ffd966;">NEXT</h1>
        </div>
        
      </div>
    </div>
  </div>
  <!--/커버3-->
  
  <!--커버4 스탭 멤버-->
  <div class="container-fluid staff">
    <h4>HUFS STAFF</h4>
    <div class = "divide40"></div>
    
    <div class = "col-md-12 row">
      <div class = "col-md-2"></div>
      <div class = "col-md-4">
        <img class = "photo2 rounded-circle" src = "/flying.PNG">
        <p>4기 이성준</p>
      </div>
      <div class = "col-md-4">
        <img class = "photo2 rounded-circle" src = "/flying.PNG">
        <p>5기 김기중</p>
      </div>
      <div class = "col-md-2"></div>
    </div>
    <br><br>
    <div class = "col-md-12 row">
      <div class = "col-md-4">
        <img class = "photo2 rounded-circle" src = "/flying.PNG">
        <p>5기 김단아</p>
      </div>
      
      <div class = "col-md-4">
        <img class = "photo2 rounded-circle" src = "/flying.PNG">
        <p>5기 장윤서</p>
      </div>
      
      <div class = "col-md-4">
        <img class = "photo2 rounded-circle" src = "/flying.PNG">
        <p>5기 김지승</p>
      </div>
    </div>    
  </div>
  <!--/커버4-->
  
  <!--<div class="container-fluid space">-->
  <!--잠시 확인만 하겠습니다!-->
  <!--  </div>-->
  

  <!--커버5 6기 멤버-->
  <div class="container-fluid sixth">
    <div class = "divide40"></div>
    <h4>HUFSLION 6TH</h4>
    <div class = "divide40"></div>
    
    <div class = "col-md-12 row">
      <div class = "col-md-1"></div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 구자룡</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 김은진</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 김혜빈</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 박상원</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 박현우</p>
      </div>
      
      <div class = "col-md-1"></div>
    </div>
    
    <div class = "divide80"></div>
    
    <div class = "col-md-12 row">
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 신승윤</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 이 슬</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 이태훈</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 인 건</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 최효진</p>
      </div>
      
      <div class = "col-md-2">
        <img class = "photo3 rounded-circle" src = "/flying.PNG">
        <p>6기 함석원</p>
      </div>
      
    </div>    
  </div>
  
</div>
  <!--/커버5-->

<!--footer-->
<footer>
  <ul class= "footer-ul col-md-12 row">
    <li class = "footer-li col-md-6"><img src = "/hufs_lion_logo1.png" class = "footerLogo">
      <div class="text1" style="padding-top: 30px;"> 한국외국어대학교 멋쟁이 사자처럼</div>
    </li>
    
    <li class = "footer-li col-md-6" style="padding-top: 20px;">
      <img src = "/email.png" class = "footerLogo-e">
      <div class=" text1"> hufsglobal@likelion.org</div>
      <br>
      <img src = "/facebook-logo.png" class = "footerLogo-face">
      <div class="text1"> https://www.facebook.com/hufsglobal.likelionasd</div>
    </li>
  </ul>
</footer>