<h1>새 질문 작성</h1>
<p>질문을 작성하는 페이지 입니다</p>

<form action="/qna/create" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목: <input type="string" name="title"><br>
    내용: <textarea name="content" rows="4" cols="50"></textarea><br>
          <input type="hidden" name="user_email" value="<%= current_user.email%>">
          <input type="submit" value="작성">
</form>
