<h1>글 내용</h1>
<p>글 내용을 보여주는 페이지 입니다.</p>

제목: <%= @qna. title %> <br>
내용: <%= simple_format(@qna.content)%> <br>

<a href = "/qna/edit/<%= @qna.id %>">수정</a>
<a href = "/qna/destroy/<%= @qna.id %>">삭제</a><br>

<a href = "/qna/index">목록</a>
